include ../node_modules/jade-bootstrap/components/panels.jade
include ../node_modules/jade-bootstrap/components/tables.jade
include ../node_modules/jade-bootstrap/components/dropdowns.jade

mixin waypoint(point)
        div.container-fluid(id=point)
                div.col-xs-3
                        +dropdown("Islands",["Long Wharf"])
                div.col-xs-6.date
                                input(type="text", id="datepicker")
                div.col-xs-3
                        +dropdown("Times", ["10:30"])


html(lang="en")
        head
                title Boston Harbor Islands | Ferry Scheduling
                meta( charset='utf-8')
                meta(http-equiv="X-UA-Compatible" content="IE=edge")
                script(src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.11.1.min.js")
                script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
                link(href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet")
                meta(name="viewport" content="width=device-width, initial-scale=1")
                link(href="styling/map_styling.css", rel="stylesheet", type="text/css")
                link(href="http://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet" type="text/css")
                link(href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css")
                link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
                script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
                script(src='https://maps.googleapis.com/maps/api/js')
                script(src='scripts/map_interaction.js')
                script(src='scripts/datepicker.js')
                script(src='scripts/panel.js')
        body
                div#map
                +panel-info("<table><tr><td><img src='images/boat.png' alt='Boat Glif'></td><td id='pyt'>Plan Your Trip</td></tr></table>")
                        a#subtitle (Use the + button for a multi-island trip)
                        table.table
                                tbody
                                        tr
                                                +waypoint("start")
                                        tr
                                                div.container-fluid#to To
                                        tr
                                                +waypoint("end")