html, body {
        height: 100%;
        width: 100%;
        padding:0%;
        margin:0%;
}

img {
        height:50%;
        width: 50%;
}

tr {
        width:100%;
}

td {
        text-align: center;
}

#map {
        height:100%;
        width:100%;
}

.panel {
        position: absolute;
        word-wrap:;
        left: 5%;
        top: 8%;
        height: 85%;
        width: 40%;
        padding: 5px;
        z-index: 5;
        border: 1px solid #999;
        background: #fff;       
}

#pyt {
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: larger;
}

.panel-title {
    padding-left: 17%
}

.panel-body {
        text-align: center;
}

#subtitle {
        font-family: 'Open Sans';
        text-align: center;
        color: grey;
}

.container-fluid {
        padding:0px !important;
        padding-top: 2% !important;
}

.island .dates {
        padding-top: 15px;
}

.datepicker {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    width:100%;
    border-radius: 4px;
    text-align: center;
}

.date {
    padding-top: 1%;
    /*padding-left: 5% !important;*/
}

button {
        border:0px;
}

#to {
        padding-top: 10px !important;
}